<div class="container">
  <div class="form">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <h1 class="heading">Create Account</h1>
        <div class="form-control__input">
          <span class="input-name">Name</span>
          <mat-form-field appearance="fill" class="input">
            <input matInput formControlName="name">
          </mat-form-field>
          <div *ngIf="signupForm.get('name')?.errors?.required && signupForm.get('name')?.touched">
            <small style="color: #ff0000;">The login field cannot be empty</small>
          </div>

          <span class="input-name">Email Address</span>
          <mat-form-field appearance="fill" class="input">
            <input matInput type="email" formControlName="email">
          </mat-form-field>
          <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
            <small style="color: #ff0000;">Email incorrect</small>
          </div>

          <span class="input-name">Password</span>
          <mat-form-field appearance="fill" class="input">
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
            <small style="color: #ff0000;">Password must be at least 6 characters long</small>
          </div>
          <!--<a href="" class="form-link">Forgot Password</a>-->
        </div>
        <div class="form-control__buttons">
          <button mat-flat-button color="primary" type="submit" class="button">Sign up</button>
        </div>
        <div class="linkTo-register">Already have an account? <a routerLink="login">Login here</a></div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="notice">
  <app-notice [error]="error" (noticeStatus)="notice = $event"></app-notice>
</div>
